{% extends "base.html" %}

{% load i18n admin_urls %}

{% block head_title %}Home{% endblock %}

{% block main_content %}
    
    <div class="Home__Calendar container">
        <div class="Home__Calendar--form form-group d-flex flex-column align-items-center">
            <div class="col-md-4 col-sm-10 col-12">
                <input id="period-start" class="form-control mb-3">
                <input id="period-end" class="form-control mb-3">
                <button id="period-confirm" type="submit" class="btn btn-info col-12">Bring data</button>
            </div>
        </div>

        <div class="Calendar__container">
            <div id="calendar" class="col-12">
                <div class="Calendar__header Calendar__row d-flex flex-direction-row flex-wrap">
                    <div class="Calendar__col">Mon</div>
                    <div class="Calendar__col">Tues</div>
                    <div class="Calendar__col">Weds</div>
                    <div class="Calendar__col">Thurs</div>
                    <div class="Calendar__col">Fri</div>
                    <div class="Calendar__col">Sat</div>
                    <div class="Calendar__col">Sun</div>
                </div>
    
                <div id="calendar-dates" class="Calendar__row d-flex flex-direction-row flex-wrap"></div>
            </div>
        </div>

        <div class="Dogs__container d-flex justify-content-center">
            <div id="dog-data" class="col-8"></div>
        </div>
    </div>

{% endblock %}